.custom-sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e0dfe0;
}

.custom-bar {
  width: 15rem;
  background: #0d3b66;
  color: white;
}

.custom-img {
  display: block;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.custom-text {
  position: relative;
  top: 20px;
  font-size: x-large;
  text-align: center;
}

.navbar {
  background: white;
  position: relative;
  top: 1rem;
  height: 65px;
  box-shadow: 5px 2px 8px #a09b9b;
  margin-bottom: 4rem;
}
