<div class="container">
    <div>
        <mat-panel-title style="font-size: large;"><b>PRODUCTOS</b></mat-panel-title>
        <button mat-raised-button color="primary" class="add-button" (click)="addNewProduct()">
            <fa-icon [icon]="faPlus"></fa-icon> Añadir producto
       </button>
       <input class="custom-search" (keyup)="applyFilter($event.target.value)" placeholder=" Buscar productos por Nombre o ID " #input>
    </div>
   
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef class="font-size-cell"> Nombre </th>
          <td mat-cell *matCellDef="let element"> 
                <img class="img-default" src="../../assets/defaultShoes.jpg">
                <div class="text-img">
                    <div style="font-size: 16px;">{{element.name}}</div><br>
                    <div style="font-size: 12px;">{{element.materials}}</div>
                </div> 
           </td>
        </ng-container>
    
        <ng-container matColumnDef="Categoría">
          <th mat-header-cell *matHeaderCellDef class="font-size-cell"> Categoría </th>
          <td mat-cell *matCellDef="let element"> {{element.category}}</td>
        </ng-container>
      
        <ng-container matColumnDef="Precio">
          <th mat-header-cell *matHeaderCellDef class="font-size-cell"> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef  class="font-size-cell"> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="Inventario">
            <th mat-header-cell *matHeaderCellDef  class="font-size-cell"> Inventario </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.quantity == 0" style="color: red;"><mat-icon class="red-icon">circle</mat-icon>Agotado</div>
                <div *ngIf="element.quantity > 0 && element.quantity < 10" style="color: yellow;"><mat-icon class="yellow-icon">circle</mat-icon>Limitado</div>
                <div *ngIf="element.quantity > 10 " style="color: green;"><mat-icon class="green-icon">circle</mat-icon>En stock</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Acción">
            <th mat-header-cell *matHeaderCellDef  class="font-size-cell"> Acción </th>
            <td mat-cell *matCellDef="let element"> 
                <a (click)="editProduct(element)"><fa-icon [icon]="faPencil" ></fa-icon> </a>
                <a (click)="deleteProduct(element)" style="padding-left:10px"><fa-icon [icon]="faTrash" ></fa-icon></a>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
</div>

  